* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
#sair {
  margin-right: -22px;
  border-radius: 8px;
  padding: 3px;
 
}
::-webkit-scrollbar {
  display: none;
}
header {
  display: flex;
}
#logo {
  width: 18.5%;
  height: 54px;
  background-color: #3c3a3c;
}
#logo > img {
  margin: 7px auto 0px 25%;
}
#right {
  width: 81.5%;
  align-self: center;
  text-align: right;
  padding-right: 25px;
  background-color: #fefefe;
}
#right > img,
span {
  vertical-align: middle;
  margin-left: 5px;
}

aside > img,
span {
  vertical-align: middle;
}
aside {
  width: 18.5%;
  height: 100vh;
  background-color: #e0e0e0;
  padding-top: 17px;
  padding-left: 11px;
  float: left;
}
main {
  width: 81.5%;
  height: 100vh;
  background-color: #d5dade;
  float: right;
}
#topo_main {
  display: flex;
  justify-content: space-between;
}
.btn {
  background-color: rgb(242, 169, 0);
  color: #fefefe;
  border-radius: 8px;
  border: none;
  padding: 5px;
  cursor: pointer;
}
.adicionar {
  font-weight: bold;
  width: 35px;
  height: 35px;
  margin: 15px 30px 0 0;
  transform: rotate(180deg);
  padding-right: 3px;
}
.ver {
  width: 45px;
  margin: 3px 0 3px 0;
}

h2 {
  color: #3c3a3c;
  padding: 15px 0 0 15px;
}
table {
  width: 95%;
  margin: 15px auto;
  border-collapse: collapse;
  padding: 3px 0 3px 0;
}
thead {
  background-color: #3c3a3c;
  color: #fefefe;
}
th {
  border: none;
  padding: 5px;
  font-size: 15px;
  font-weight: 700;
}
td {
  border-top: 1px solid #d5dade;
  font-size: 13px;
  font-weight: 300;
}
#tbody_form td {
  border: none;
}
tbody {
  background-color: #fefefe;
  text-align: center;
  color: #4d4f5c;
}
.tr_head {
  border-radius: 10px 0 0 0;
}
.tr_head_2 {
  border-radius: 0 10px 0 0;
}
a {
  text-decoration: none;
  color: #fefefe;
}
.th_form {
  padding: 8px 0 8px 10px;
}
.tr_form td {
  text-align: left;
  /* border: 1px solid #d5dade; */
  padding: 15px 0 15px 8px;
  width: 25%;
}
label {
  color: #000;
}
input,
select {
  border: 1.6px solid #bcbdc7;
  color: #000000;
  width: 95%;
  border-radius: 8px;
  height: 30px;
  padding-left: 8px;
  margin-top: 5px;
}
input::placeholder {
  color: #a2a2a2;
}
#btn_submit {
  width: 60%;
  margin: 35px 0 20px 50px;
}
select:not(:focus) {
  color: #a2a2a2;
}
